[submodule "frontend"]
	path = frontend
	url = https://github.com/Grupo-Lira/FocusQuest-web.git
	branch = main
	update = checkout
[submodule "backend"]
	path = backend
	url = https://github.com/Grupo-Lira/backend-rastreamento-ocular.git
	branch = main
	update = checkout
